<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.gduf.chb.controller"></context:component-scan>
    <!--注解驱动注册-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--
    +-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!-- 在springmvc-config.xml中配置 -->
    <!-- 配置拦截器 -->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            &lt;!&ndash; 将所有用户的用户主求都交由登录拦截器来处理 &ndash;&gt;
            <mvc:mapping path="/**" />
            <bean class="com.gduf.chb.utils.Interceptor" />
        </mvc:interceptor>
    </mvc:interceptors>-->
</beans>